#loginModal, #signUpModal, #walletModal
   display: none
   width: 100%
   height: 100%
   position: absolute
   inset: 0
   background-color: rgba(0,0,0,.6)
   animation: fadeIn .5s ease-in
   z-index: 9999
   &.open
      display: block

.modal
   position: fixed
   top: 50%
   left: 50%
   transform: translate(-50%, -50%)
   max-width: 28rem
   min-width: 21rem
   padding: $sm
   text-align: center
   color: $white
   background: $dark-gradient
   border-radius: $xs
   transition: all .8s ease
   animation: fade 1s ease-in-out
   @include shadow

   .close-modal
      position: absolute
      top: 0
      right: 0
      padding: $xs
      font-weight: 600
      font-size: 1.5rem
      color: $white
      cursor: pointer

   img
      width: $w-logo
      padding-block: $sm
   
   h2
      color: $primary

   form
      > *
         margin-bottom: .8rem
         
      label
         float: left
   p
      margin-block: $sm

   button
      @include flex
      flex-direction: row
      gap: .5rem
      width: 100%
      margin-bottom: .5rem
      &:hover
         svg
            fill: $primary

      &.btn-cta
         background: $gradient
         color: $white

      svg
         fill: $white
         height: $xs
         transition: fill .6s